<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d{HH:mm:ss} %-1level] %msg%n" />
		</Console>
		<File name="LogToFile" fileName="logs/logs.log">
			<PatternLayout pattern="[%d{HH:mm:ss} %-1level] %msg%n" />
		</File>
	</Appenders>
	<Loggers>

		<Logger name="fr.esiee.application" level="info" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="LogToFile" />
		</Logger>


		<Root level="ERROR">
			<AppenderRef ref="Console" />
			<AppenderRef ref="LogToFile" />
		</Root>


	</Loggers>
</Configuration>
